body {
	background-color: #e3dec2;
  }
  section {
	padding: 5em;
  }
  section.number-1 {
	background-color: #c2c379;
	margin-bottom: 2em;
	border-radius: 2em;
  }

  section > div {
	display: inline-block;
	font-size: 5em;
	font-weight: 800;
	font-style: italic;
  }
  section > div:after {
	content: ":";
  }
  section > div:last-child:after {
	content: "";
  }
  section .hours {
	color: rgb(35, 52, 110);
  }
  section .minutes {
	color: rgb(120, 56, 36);
  }
  section .seconds {
	color: rgb(11, 138, 11);
  }

  section.number-2 {
	background: url(https://sc02.alicdn.com/kf/HTB1GmztXQSWBuNjSszdq6zeSpXan/232376339/HTB1GmztXQSWBuNjSszdq6zeSpXan.jpg);
	height: 20em;
	background-position: center;
	background-attachment: fixed;
  }
  section.number-3 {
	background-color: #c3b091;
	margin-top: 5em;
	border-radius: 50px;
	border-style: solid;
  }
  .Text {
	text-align: center;
  }
  p {
	font-weight: bold;
  }
  
  #select_country{
	position: relative;
	top: -2em;
  }
  #select_region{
	position: relative;
	left: -9.5em;
  }
  