<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="Buttons.css">
    <title>Static Template</title>
  </head>
  <body>
    <div id="app-chrome">
      <div id="app-header-wrapper">Header</div>
      <div id="app-content-wrapper">
        <p>
          This is a static template, there is no bundler or bundling involved!
        </p>
      </div>
      <div id="app-footer-wrapper">
        <button class="button action"><span>+</span></button>
      </div>
    </div>
  </body>
</html>
