<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
 
  </head>
  <body>
    <div class="clock-dial-wrapper">
      <div class="clock-inner-large-dial"></div>
      <div class="time-marks-wrapper">
        <div class="time-mark-container rotate-0-degrees">
          <div class="time-mark promoted"></div>
        </div>
        <div class="time-mark-container rotate-10-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-20-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-30-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-40-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-50-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-60-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-70-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-80-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-90-degrees">
          <div class="time-mark promoted"></div>
        </div>

        <div class="time-mark-container rotate-100-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-110-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-120-degrees">
          <div class="time-mark"></div>
        </div>

        <div class="time-mark-container rotate-130-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-140-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-150-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-160-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-170-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-180-degrees">
          <div class="time-mark promoted"></div>
        </div>
        <div class="time-mark-container rotate-190-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-200-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-210-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-220-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-230-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-240-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-250-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-260-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-270-degrees">
          <div class="time-mark promoted"></div>
        </div>
        <div class="time-mark-container rotate-280-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-290-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-300-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-310-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-320-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-330-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-340-degrees">
          <div class="time-mark"></div>
        </div>
        <div class="time-mark-container rotate-350-degrees">
          <div class="time-mark"></div>
        </div>
      </div>
      <div class="clock-inner-smaller-dial"></div>
      <!-- clock will be here -->
    </div>
  </body>
</html>
